html {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #CCC;;
}

body {
    padding: 0 2em;
}

header, main {
    max-width: 60em;
    margin: 0 auto
}

table {
    border-collapse: collapse;
    th {
        text-align: left;
        border-bottom: 1px solid #888;
    }
    td {
        padding: 0.25em;
    }
    tr.otsake td {
        border-top: 1px solid #888;
    }
    tr.yli {
        color: #800;
    }
}

table.calendar {
    caption {
        text-align: left;
        a {
            text-decoration: none;
        }
    }

    thead, tbody {
        font-size: 0.8em;
    }

    th {
        text-align: center;
    }
    td {
        background-color: #DDD;
        &.course-1 { background-color: #ECA;}
        &.course-2 { background-color: #AEC;}
        &.course-3 { background-color: #CAE;}
        &.course-4 { background-color: #ACE;}
        &.course-5 { background-color: #EAC;}
        &.course-6 { background-color: #CEA;}
        &.course-7 { background-color: #ECC;}
        &.course-8 { background-color: #CEC;}
        &.course-9 { background-color: #CCE;}
        &.course-10 { background-color: #CEE;}
        &.course-11 { background-color: #ECE;}
        &.course-12 { background-color: #EEC;}
    }
    td, th {
        border: 1px solid #666;
    }
}



section.kurssit {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    & > * {
        flex-basis: 16em;
        flex-grow: 1;
    }
}

.kurssi-info {
    background-color: #EEE;
    padding: 1em;
    display: flex;
    flex-direction: column;
    h2 {
        margin-top: 0;
        margin-bottom: 0.5em;
        border-bottom: 1px solid #CCC;
    }
    .kurssi-detaljit {
        font-size: 0.9em;
        color: #666;
        & > * {
            margin: 0;
        }
    }
    .kurssi-kuvaus {
        flex-grow: 1;
    }
    .kurssi-opiskelijat {
        summary {
            color: #4d743d;
            cursor: pointer;
            list-style-type: none;
            border-bottom: 1px solid #CCC;
            &:hover {
                color: #27620d;
            }
        }
    }
}